/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url("http://fonts.googleapis.com/css?family=Lato:100,400,900)");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300");
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic");
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400; }
  body h1, body h2 {
    font-weight: 900; }
  body > header h1, body > header h2 {
    text-transform: uppercase;
    color: black; }
  body > header h1 {
    font-weight: 100;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 18px; }
  body > header h2 {
    font-size: 16px; }
  body > header.activeSnap #header-inner h1 {
    font-size: 32px; }
  body > main > article header .meta {
    font-size: 14px;
    text-shadow: 1px 1px 0px white; }
  body > main > article header > h2 {
    font-weight: 100;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0px white; }
  body > main > article > .content, body > main > article > .column-content {
    font-size: 16px;
    line-height: 24px;
    max-height: 1000px; }
    body > main > article > .content a, body > main > article > .column-content a {
      color: black; }
    body > main > article > .content p, body > main > article > .content img, body > main > article > .column-content p, body > main > article > .column-content img {
      margin: 0 0 15px;
      text-align: justify; }
    body > main > article > .content p, body > main > article > .content .column:after, body > main > article > .column-content p, body > main > article > .column-content .column:after {
      font-size: 14px; }
    body > main > article > .content .column.first p:first-child, body > main > article > .column-content .column.first p:first-child {
      font-size: 18px; }
  body > main > footer, body > main > .pagination {
    font-size: 24px;
    line-height: 40px;
    font-weight: 900; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
  overflow: hidden;
  cursor: move; }

::-webkit-scrollbar {
  width: 40px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: red; }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.1); }


body {
  background-position: top center;
  background-size: cover;
  -webkit-text-size-adjust: 100%; }

@-webkit-keyframes loadingAnimation {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

body > #loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
  font-size: 40px;
  font-weight: 100;
  color: white;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: loadingAnimation 30s linear 0 infinite normal; }

body.ready > #loading {
  opacity: 0;
  -webkit-transform: scale(0.5); }

body > header, body > main {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s, opacity 1s; }

body.ready > header, body.ready > main {
  opacity: 1; }


.bc.background--dark {
  color: white !important;
  border-color: white !important;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8); }
.bc.background--light {
  color: black !important;
  border-color: black !important;
  text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.8); }

.avgrund-overlay {
  z-index: 900;
  position: absolute;
  top: 0; }

.avgrundImgHolder .imgHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center; }

body > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  text-align: center;
  height: 50px; }
  body > header #titlebar {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow: hidden; }
    body > header #titlebar a {
      position: relative;
      z-index: 103;
      display: inline-block;
      border: 1px solid darkgray;
      margin: 8px 17px;
      padding: 10px 20px;
      color: darkgray;
      text-decoration: none;
      word-space: nowrap;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      line-height: 10px; }
      @media (max-width: 480px) {
        body > header #titlebar a span {
          display: none; } }
    body > header #titlebar #overview-button {
      float: left; }
    body > header #titlebar #subscrib-button {
      float: right; }
  body > header #header-inner {
    position: relative;
    z-index: 102;
    padding: 0 0;
    -webkit-transition: margin 0.6s; }
    body > header #header-inner #blog-logo {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -70px; }
      body > header #header-inner #blog-logo img {
        width: 140px;
        height: 140px;
        position: absolute;
        border-radius: 170px;
        opacity: 0;
        -webkit-transition: opacity 0.5s, -webkit-transform 0.6s;
        -webkit-transform: scale(0.1) rotate(0) translate3d(0, 0, 0);
        pointer-events: none; }
    body > header #header-inner h1 {
      line-height: 50px;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.6s, font-size 0.6s;
      display: block;
      cursor: pointer;
      padding: 0 120px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      darkgray-space: nowrap; }
      @media (max-width: 480px) {
        body > header #header-inner h1 {
          padding: 0 60px; } }
      body > header #header-inner h1:before {
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        opacity: 0;
        width: 25px;
        display: inline-block;
        margin-left: -25px;
        content: '\25B5';
        -webkit-transform: translate3d(0, 20px, 0) scale(1.4); }
      body > header #header-inner h1:hover:before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1); }
    body > header #header-inner h2 {
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
      opacity: 0;
      padding: 0 120px; }
      @media (max-width: 480px) {
        body > header #header-inner h2 {
          padding: 0 60px; } }
    body > header #header-inner a {
      color: black; }
  body > header #header-cover {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    opacity: 0.8;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.6s;
    -webkit-transform: scale(1), translate3d(0, 0, 0);
    -webkit-transform-origin: top center;
    background-size: cover;
    background-position: top center; }
    body > header #header-cover img {
      -webkit-transition: margin 0.6s;
      height: 100%;
      min-width: 100%;
      opacity: 0; }
  body > header.activeSnap #header-inner h1 {
    -webkit-transform: translate3d(0, 260px, 0); }
    body > header.activeSnap #header-inner h1:hover:before {
      opacity: 0; }
  body > header.activeSnap #header-inner h2 {
    -webkit-transform: translate3d(0, 260px, 0);
    opacity: 1; }
  body > header.activeSnap #header-inner #blog-logo img {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg) translate3d(0, 100px, 0); }

body.web-app #titlebar {
  padding-top: 15px;
  height: 60px; }
body.web-app #header-inner h1 {
  margin-top: 15px; }

body.drag > main.ready, body.drag > main.ready > article > .content {
  -webkit-transition: none; }

body > main {
  height: 100%;
  position: relative;
  z-index: 40; }
  body > main > *:first-child {
    margin-top: 480px; }
  body > main.ready > article {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s; }
  body > main > article {
    opacity: 0;
    position: relative;
    z-index: 50;
    height: 100%;
    width: 100%;
    padding: 0 0;
    margin: 5px 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    overflow: hidden; }
    body > main > article.activeSnap {
      -webkit-transform: scale(0.95);
      opacity: 1; }
    body > main > article:nth-child(odd) {
      background: #fdfdfd; }
      body > main > article:nth-child(odd) > header {
        background: rgba(253, 253, 253, 0.96); }
      body > main > article:nth-child(odd) > .more {
        border-color: #fdfdfd;
        background: linear-gradient(to left, #fdfdfd 50%, rgba(253, 253, 253, 0.9) 100%); }
    body > main > article:nth-child(even) {
      background: white; }
      body > main > article:nth-child(even) > header {
        background: rgba(255, 255, 255, 0.96); }
      body > main > article:nth-child(even) > .more {
        border-color: white;
        background: linear-gradient(to left, #ffffff 50%, rgba(255, 255, 255, 0.9) 100%); }
    body > main > article > header {
      position: relative;
      z-index: 54;
      margin: 0;
      -webkit-transition: opacity 0.2s;
      border-left: 3px solid rgba(169, 169, 169, 0.2);
      -webkit-transition: -webkit-transform 0.6s, opacity 0.4s;
      -webkit-transform: perspective(600) rotateY(-90deg);
      -webkit-transform-origin: center left;
      width: 320px;
      min-height: 100%;
      overflow: hidden;
      float: left;
      overflow: hidden;
      opacity: 1;
      padding: 60px 0 20px 20px; }
      @media (max-width: 600px) {
        body > main > article > header {
          padding: 50px 0 20px 0; } }
      body > main > article > header.activeSnap {
        opacity: 1;
        -webkit-transform: perspective(600) rotateY(0deg); }
      body > main > article > header .meta {
        position: relative;
        z-index: 55;
        height: 100%; }
        body > main > article > header .meta section {
          margin: 0;
          line-height: 30px;
          text-transform: uppercase;
          width: 50%;
          float: left;
          margin: 5px 0 0;
          padding: 0 20px 0 20px;
          font-size: 14px; }
          body > main > article > header .meta section span {
            border-top: 1px dotted gray;
            padding-top: 15px;
            font-weight: 900;
            display: block;
            line-height: 12px;
            font-size: 12px;
            color: darkgrey;
            text-transform: uppercase; }
          body > main > article > header .meta section a {
            text-decoration: none; }
          body > main > article > header .meta section.author {
            width: 100%; }
          body > main > article > header .meta section.tags {
            width: 100%; }
      body > main > article > header h2 {
        position: relative;
        max-width: 100%;
        padding: 15px 15px;
        z-index: 55; }
        @media (max-height: 500px) {
          body > main > article > header h2 {
            max-height: 215px;
            overflow: hidden; } }
        body > main > article > header h2 a {
          color: black;
          text-decoration: none; }
      body > main > article > header .coverImg {
        position: absolute;
        z-index: 54;
        top: -20%;
        left: -20%;
        width: 140%;
        min-height: 140%; }
      body > main > article > header .header-cover {
        position: absolute;
        z-index: 54;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    body > main > article.column-ready .content {
      opacity: 0; }
    body > main > article.column-ready .column-content {
      opacity: 1; }
      body > main > article.column-ready .column-content > .column:after {
        color: darkgrey;
        display: block;
        text-align: left;
        content: '\219D';
        margin: 0 25px 0;
        line-height: 10px;
        font-weight: 900;
        font-size: 18px; }
      body > main > article.column-ready .column-content > .column:last-of-type:after {
        content: '\220E'; }
    body > main > article > .content {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 51;
      height: 100%;
      opacity: 1;
      background: red;
      width: 320px;
      padding: 80px 10px 100px;
      margin: 0 0 0 325px;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.6s, margin 0.5s, position 0.5s; }
      body > main > article > .content img {
        max-width: 100%;
        max-height: 80%; }
    body > main > article > .column-content {
      position: absolute;
      top: 0px;
      z-index: 51;
      height: 100%;
      width: 5000px;
      padding: 80px 0 100px 325px;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.6s, margin 0.5s, position 0.5s; }
      body > main > article > .column-content > .column {
        border-right: 1px dotted lightgray;
        overflow: hidden; }
        body > main > article > .column-content > .column.first p:first-child {
          font-weight: 900; }
      body > main > article > .column-content .column > * {
        padding: 0 25px; }
      body > main > article > .column-content .disqus {
        display: block;
        min-height: 500px;
        width: 100%;
        height: 100%; }
      body > main > article > .column-content img {
        max-width: 100%;
        max-height: 80%;
        -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
        -webkit-transform: scale(1);
        cursor: pointer; }
        body > main > article > .column-content img:hover {
          -webkit-transform: scale(1.1); }
    body > main > article > .entry {
      display: none; }
    body > main > article > .more {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 320px;
      z-index: 53;
      max-height: 1000px;
      opacity: 1;
      border-left: 1px solid gray;
      -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
      -webkit-transform: translate3d(0, 0, 0) perspective(600) rotateY(0deg);
      -webkit-transform-origin: center right; }
      @media (max-width: 600px) {
        body > main > article > .more {
          opacity: 0; } }
      body > main > article > .more > .more-button {
        position: absolute;
        z-index: 54;
        top: 50%;
        margin-top: -20px;
        right: 20%;
        display: inline-block;
        border: 1px solid darkgrey;
        padding: 15px 50px 15px 30px;
        color: darkgrey;
        text-decoration: none;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px; }
        body > main > article > .more > .more-button span {
          position: absolute;
          font-size: 20px;
          right: 30px;
          font-weight: 100; }
    body > main > article.readArticle {
      -webkit-transform: scale(1); }
      body > main > article.readArticle > .more {
        -webkit-transform: translate3d(0, 0, 0) perspective(600) rotateY(90deg); }
  body > main .next-article, body > main .prev-article {
    display: block;
    z-index: 49;
    top: -25px;
    opacity: 1;
    height: 0;
    -webkit-transition: opacity 1s;
    position: relative; }
    body > main .next-article a, body > main .prev-article a {
      text-align: center;
      position: absolute;
      display: block;
      color: darkgrey;
      padding: 15px;
      width: 100%;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      body > main .next-article a span, body > main .prev-article a span {
        font-weight: 900;
        font-size: 24px;
        font-weight: 100;
        position: relative;
        top: 2px; }
  body > main .prev-article {
    display: none; }
  body > main .next-article {
    opacity: 1; }
  body > main .pagination {
    padding: 180px 130px;
    text-align: center;
    color: white; }
    body > main .pagination a {
      color: white; }


body.tipNext > main {
  margin-top: -50px; }

body > main > footer {
  position: relative;
  height: 100%;
  color: white;
  text-align: center;
  padding: 200px 0;
  overflow: hidden; }
  body > main > footer #footer-inner {
    position: relative;
    z-index: 41; }
    body > main > footer #footer-inner a {
      color: white; }
  body > main > footer > img {
    display: none;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-filter: blur(10px); }
